<div class="container">
  <h1>5</h1>
  <rondevu-paginator
    #paginator
    [length]="100"
    [pageIndex]="0"
    [pageSize]="5"
  ></rondevu-paginator>
</div>
<!-- 
<div class="container">
  <h1>4</h1>
  <rondevu-paginator
    #paginator
    [pageIndexSize]="4"
    [length]="10"
    [pageIndex]="0"
    [pageSize]="1"
  ></rondevu-paginator>
</div>

<div class="container">
  <h1>5</h1>
  <rondevu-paginator
    #paginator
    [pageIndexSize]="5"
    [length]="10"
    [pageIndex]="6"
    [pageSize]="1"
  ></rondevu-paginator>
</div>

<div class="container">
  <h1>5</h1>
  <rondevu-paginator
    #paginator
    [pageIndexSize]="15"
    [length]="10"
    [pageIndex]="1"
    [pageSize]="4"
  ></rondevu-paginator>
</div>


<div class="container">
  <rondevu-paginator
    #paginator
    [length]="10"
    [pageIndex]="1"
    [pageSize]="4"
  ></rondevu-paginator>
</div>
 -->