<div class="mat-paginator-outer-container">
  <div class="mat-paginator-container">
    <div class="mat-paginator-range-label">
      {{ _intl.getRangeLabel(pageIndex, pageSize, length) }}
    </div>

    <div #actions class="mat-paginator-range-actions">
      <button
        type="button"
        class="mat-paginator-navigation-previous"
        (click)="previousPage()"
        [attr.aria-label]="_intl.previousPageLabel"
        [disabled]="_previousButtonsDisabled()"
      >
        Prev
      </button>

      <ul class="mat-paginator-page-index">
        <li
          class="mat-paginator-page-index-item"
          [ngClass]="{ active: pageIndex === item }"
          *ngFor="let item of pageIndexes; index as i; trackBy: trackByFn"
          (click)="goToPage(item)"
        >
          <span>{{ item + 1 }}</span>
        </li>
      </ul>

      <button
        type="button"
        class="mat-paginator-navigation-next"
        (click)="nextPage()"
        [attr.aria-label]="_intl.nextPageLabel"
        [disabled]="_nextButtonsDisabled()"
      >
        Next
      </button>
    </div>
  </div>
</div>
